
body {
    background-color: #1b262c;
    color: whitesmoke;
    font-family: 'Roboto Condensed', serif;
    
    
}
hr{
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 7px dotted grey;
    width: 5%;
    height: 5;
    background-color: transparent
}
h1{
    color: #acc0ce;
    font-family: 'Roboto Condensed', serif;
    font-size: 50px;
    font-style: normal;
    margin-bottom: 0;

}
h3{
    color: #acc0ce
}
a{
    color: tomato;
}
p{
    font-family: 'Roboto Condensed', serif;
    margin-top: 0.1em;
    margin-bottom: 0.5em;
}
